*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#logo{
    width: 5rem;
}

   
  h1{
    margin-top: 10%;
    font-size: 3rem;
  }

 #secondSection{
    height: 100%;
    
 }
 .courses{
    width: 400px;
    height: 300px;
 }
 input[type=text],input[type=number], select{
    
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  label{
    color: white;
  }
  h1,h2{
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
 font-weight: bold;
  font-style: normal;
}
body{
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}